#body {
  font-family: "Karla", sans-serif;
  background-color: white;
  background-image: url(https://cdn.wallpapersafari.com/58/56/ihlSaL.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; }
@media (max-width: 767px) {
  body {
    padding-top: 16px;
    padding-bottom: 16px; } }
.login-card {
  width: 371px;
  border: 0;
  background-color: transparent;
  text-align: center; }
@media (max-width: 575px) {
  .login-card {
    width: auto; } }
.login-card .card-body {
  padding: 0; }
.login-card-title {
  font-size: 29px;
  text-align: center;
  font-weight: normal;
  color: #fff;
  margin-bottom: 18px; }
.login-card .form-group {
  margin-bottom: 18px; }
.login-card .form-control {
  border: none;
  padding: 19px 26px 18px;
  border-radius: 27.5px;
  min-height: 55px;
  font-size: 14px;
  background-color: #f4f4f4;
  font-weight: normal; }
.login-card .form-control::-webkit-input-placeholder {
  color: #919aa3; }
.login-card .form-control::-moz-placeholder {
  color: #919aa3; }
.login-card .form-control:-ms-input-placeholder {
  color: #919aa3; }
.login-card .form-control::-ms-input-placeholder {
  color: #919aa3; }
.login-card .form-control::placeholder {
  color: #919aa3; }
.login-card-check-box {
  padding-left: 33px; }
li{
  list-style: none;
}
@media (max-width: 767px) {
  .login-card-check-box {
    margin-bottom: 10px; } }
.login-card-check-box .custom-control-label {
  color: #919aa3; }
.login-card-check-box .custom-control-label::before {
  width: 20px;
  height: 20px;
  border: solid 1px #d5dae2;
  left: -33px;
  top: 0px;
  background-color: transparent; }
.login-card-check-box .custom-control-label::after {
  left: -33px;
  width: 20px;
  height: 20px;
  top: 0; }
.login-card .login-btn {
  padding: 18px 40px 17px 41px;
  background-color: #f0004f;
  border-radius: 27.5px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 29px; }
.login-card .login-btn:hover {
  border: 1px solid #f0004f;
  background-color: #fff;
  color: #f0004f; }
.login-card-footer-text {
  font-size: 18px;
  color: #fff;
  text-align: center;
  margin-bottom: 0; }

.form-options-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 37px;
  font-size: 14px;
  font-weight: normal;
  color: #919aa3; }
@media (max-width: 767px) {
  .form-options-wrapper {
    display: block; } }

//nav
body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}

/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.logout{
  margin-top: 5px;
}
.wrapper {
  padding-top: 80px;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

